asgiref==3.6.0
Django==4.2.1
gunicorn==20.1.0
sqlparse==0.4.4
#json==2.0.9
openai==0.27.7
pandas==2.0.1
numpy==1.24.3
transformers==4.29.2
#sys==3.10.11
#pinecone==2.2.1
#boto3==1.26.141
#smart_open==6.3.0
#typing
#wordfreq
